.recipes {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/background_recipes.svg);
  background-color: #0a2750;
}

.recipes__title {
  margin-top: 100px;
  max-width: 580px;
  margin-left: 80px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: white;
}

.recipes__subtitle-main {
  column-gap: 24px;
  margin-left: 80px;
  max-width: 438px;
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: white;
}

.recipes__videos {
  display: flex;
  flex-direction: row;
  margin-top: 80px;
  margin-bottom: 215px;
  column-gap: 40px;
  justify-content: center;
}

.recipes__iframe {
  border: none;
}

.recipes__video-iframe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: white;
}

.recipes__video-caption-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: white;
}
